
$buttonWidth: 17px;
$buttonHeight: 19px;
.controls{
  .audio{
    width: 100%;
  }
  .buttonStyles{
    text-align: center;
    .shuffleBtn {
      float: right;
    }
    button{
      border-radius: 50%;
      background: transparent;
      border: none;
    }
  }
}
