.backgroundImage{
  border-style: groove;
  border-radius: 15px;
  width: 30%;
  position: fixed;
  top: 20%;
  left: 30%;
  height: 390px;
  margin-top: -21px;
  box-shadow: 4px 4px 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .headingStyle{
    min-height: 250px;
    text-align: center;
  }
}

